@page
@model IndexModel
@{
    ViewData["Title"] = "What's New in C# 7.2";
}

<h2>What's New in C# 7.2</h2>

<ul>
    <li>Reference semantics with value types</li>
    <li>Non-trailing named arguments</li>
    <li>Leading underscores in numeric literals</li>
    <li>private protected access modifier</li>
</ul>

