@page
@model IndexModel
@{
    ViewData["Title"] = "What's New in C# 7.2";
}

<h2>What's New in C# 7.2</h2>

<ul>
    <li><a asp-page="ReferenceSemanticsValueTypes">Reference semantics with value types</a></li>
    <li><a asp-page="NonTrailingNamedArguments">Non-trailing named arguments</a></li>
    <li><a asp-page="LeadingUnderScoresNumericLiterals">Leading underscores in numeric literals</a></li>
    <li><a asp-page="PrivateProtectedAccess">private protected access modifier</a></li>
</ul>

