@page
@model CSharp7_2.Web.Pages.LeadingUnderScoresNumericLiteralsModel
@{
    ViewData["Title"] = "LeadingUnderScoresNumericLiterals";
}

<h2>LeadingUnderScoresNumericLiterals</h2>

<h3>Old Binary Literal</h3>
<p>@Model.GetOldBinaryLiteral()</p>

<h3>New Binary Literal</h3>
<p>@Model.GetNewBinaryLiteral()</p>

<h3>Old Hex Literal</h3>
<p>@Model.GetOldBinaryLiteral()</p>

<h3>New Hex Literal</h3>
<p>@Model.GetNewBinaryLiteral()</p>
