@page
@model CSharp7_2.Web.Pages.NonTrailingNamedArgumentsModel
@{
    ViewData["Title"] = "NonTrailingNamedArguments";
}

<h2>NonTrailingNamedArguments</h2>

<p>GetFullName("Brendan", middleName: "Danger", "Enrick")</p>
<p>@Model.GetFullName()()</p>

<p>Because "Danger" is my middle name...</p>

