@page
@model CSharp7_2.Web.Pages.ReferenceSemanticsValueTypesModel
@{
    ViewData["Title"] = "ReferenceSemanticsValueTypes";
}

<h2>ReferenceSemanticsValueTypes</h2>

<h3>In Keyword</h3>
<p>@Model.GetInString()</p>

<h3>ref readonly returns</h3>
<p>@Model.GetRefReturnString()</p>
