@page
@model IndexModel
@{
    ViewData["Title"] = "What's New in C# 7.1";
}

<h2>What's New in C# 7.1</h2>

<ul>
    <li>async main - Code-only</li>
    <li><a asp-page="DefaultLiteralExpressions">default Literal Expressions</a></li>
    <li><a asp-page="InferredTupleElementNames">Inferred Tuple Element Names</a></li>
</ul>
