@page
@model IndexModel
@{
    ViewData["Title"] = "What's New in C# 7.1";
}

<h2>What's New in C# 7.1</h2>

<ul>
    <li>async main - Code-only</li>
    <li>default Literal Expressions</li>
    <li>Inferred Tuple Element Names</li>
</ul>
