@page
@model CSharp7_1.Web.Pages.InferredTupleElementNamesModel
@{
    ViewData["Title"] = "InferredTupleElementNames";
}

<h2>InferredTupleElementNames</h2>

<h3>Old Way</h3>
<p>@Model.OldWay()</p>

<h3>New Way</h3>
<p>@Model.NewWay()</p>
