@page
@model IndexModel
@{
    ViewData["Title"] = "What's New in C# 6";
}

<h2>What's New in C# 6</h2>

<ul>
    <li>Read-only Auto-properties</li>
    <li>Auto-Property Initializers</li>
    <li>Expression-bodied function members</li>
    <li>using static</li>
    <li>Null - conditional operators</li>
    <li>String Interpolation</li>
    <li>Exception filters</li>
    <li>nameof Expressions</li>
    <li>await in catch and finally blocks</li>
    <li>index initializers</li>
    <li>Extension methods for collection initializers</li>
    <li>Improved overload resolution</li>
</ul>
