@page
@model IndexModel
@{
    ViewData["Title"] = "What's New in C# 7";
}

<h2>What's New in C# 7</h2>

<ul>
    <li>out variables</li>
    <li>Tuples</li>
    <li>Discards</li>
    <li>Pattern Matching</li>
    <li>ref locals and returns</li>
    <li>Local Functions</li>
    <li>More expression-bodied members</li>
    <li>throw Expressions</li>
    <li>Generalized async return types</li>
    <li>Numeric literal syntax improvements</li>
</ul>
